/** @format */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url('images/background.jpg') no-repeat center/cover;
  font-family: 'Old Standard TT', serif;
}

.main-container {
  margin: 0 auto;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  background-color: rgba(240, 248, 255, 0.521);
}

.main-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1em;
}

.food-container img {
  width: 100%;
  max-width: 280px;
  padding: 0px;
}

.food-container p {
  text-align: center;
  padding-top: 20px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 700;
}

h1 {
  font-size: clamp(1.25rem, 3vw, 2rem);
  font-weight: 700;
  padding-bottom: 1em;
}

.text-container {
  line-height: 1.5em;
  font-size: clamp(1rem, 1.4vw, 1.25rem);
  background-color: rgba(240, 248, 255, 0.753);
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    width: 75%;
    height: 90%;
  }
  .main-container section {
    width: 45%;
  }
}
