/** @format */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Old Standard TT', serif;
}

.main-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  color: #250902;
}

.title-container {
  margin-top: 0.5em;
  margin-left: 1em;
}

img {
  width: 100%;
  max-height: 450px;
}

h1 {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

h3 {
  font-weight: lighter;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

h2 {
  margin: 1em 0;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

a {
  text-decoration: none;
  color: #250902;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

.yields-container {
  margin: 1em;
  border-top: 1px dashed #250902;
  border-bottom: 1px dashed #250902;
  width: 100%;
  padding: 0.5em;
}

.yields-container ul {
  display: flex;
  justify-content: center;
}

.yields-container li {
  list-style-type: none;
  padding-left: 1em;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0em;
  justify-content: center;
}

.ingredients-container {
  margin-bottom: 0.75em;
}

li {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
}

ul {
  line-height: clamp(1rem, 1.5vw, 2rem);
  padding: 0;
}

ol {
  line-height: clamp(0.85rem, 1.75vw, 2rem);
  padding: 0;
}

footer {
  font-size: clamp(0.45rem, 1vw, 1.5rem);
  width: 100%;
  margin-top: 1em;
  border-top: 1px dashed #250902;
  border-bottom: 1px dashed #250902;
  line-height: 1.5em;
  padding: 0.75em;
}

@media all and (min-width: 768px) {
  body {
    background: url('images/sub_bg.jpg') no-repeat center/cover;
  }

  .main-container {
    width: 60%;
    height: 100%;
  }

  .hero-container {
    width: 80%;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    padding: 0em;
    justify-content: space-between;
  }

  hr {
    display: none;
  }
  .ingredients-container {
    width: 30%;
  }

  .instructions-container {
    width: 63%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    background: url('images/sub_bg.jpg') no-repeat center/cover;
  }

  .main-container {
    width: 75%;
    height: 100%;
  }
}
